table {
  width: 100%;
  margin-top: 10%;
}

.mat-header-cell {
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}

.listing-link {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;

}
