<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="Asin">
    <th mat-header-cell *matHeaderCellDef> Asin </th>
    <td mat-cell *matCellDef="let listing">
      <a href="https://www.amazon.com/dp/{{listing.ProductASIN}}" class="listing-link" target="_blank">
        {{listing.ProductASIN}}</a>
    </td>

  </ng-container>

  <ng-container matColumnDef="Title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let listing"> {{listing.ProductName}} </td>
  </ng-container>


  <ng-container matColumnDef="Listing">
    <th mat-header-cell *matHeaderCellDef class="main-row"> Добавить </th>
    <td mat-cell *matCellDef="let listing">
      <div class="newListingForm">
        <button mat-flat-button color="primary" class="btn-prob" (click)="openDialog()">Добавить Вариацию</button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="Partner">
    <th mat-header-cell *matHeaderCellDef class="main-row"> Partner </th>
    <td mat-cell *matCellDef="let listing"> {{listing.Partner}} </td>
  </ng-container>

  <ng-container matColumnDef="take">
    <th mat-header-cell *matHeaderCellDef class="main-row"> Employee </th>
    <td mat-cell *matCellDef="let listing">
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
</table>
