<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let listing of listings">
      <td>{{listing.ProductASIN}}</td>
      <td>{{listing.ProductName}}</td>
    </tr>
  </tbody>
</table> -->


<table>
  <thead>
    <tr class="row100 head">
      <th class="cell100 column2">Position</th>
      <th class="cell100 column3">Start date</th>
      <th class="cell100 column4">Last Activity</th>
      <th class="cell100 column5">Contacts</th>
      <th class="cell100 column6">Age</th>
      <th class="cell100 column7">Address</th>
      <th class="cell100 column8">Card No</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row100 body" *ngFor="let listing of listings">
      <td class="cell100 column2">{{listing.ProductASIN}}</td>
      <td class="cell100 column3">{{listing.ProductName}}</td>
    </tr>
  </tbody>
</table>
