<!-- <div class="authorization-block">
  <form class="authorization-form">
    <span class="authorization-form-title">log in</span>
    <input type="text" placeholder="username" class=" input-field input-login">
    <input type="password" placeholder="password" class=" input-field input-password">
    <button class="login-button">Login</button>
  </form>
</div> -->

<div class="authorization-form">
  <p class="auth-title">Авторизация</p>
  <mat-form-field class=" auth-input">
    <input matInput placeholder="Login" autocomplete="off">
  </mat-form-field>
  <mat-form-field class="auth-input">
    <input matInput placeholder="Password" autocomplete="off" type="password">
  </mat-form-field>

  <button class="auth-button">
    Войти
  </button>
</div>
