/* .inner-width {
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}

.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90px;
}

.navigation-menu a {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 4px;
  transition: .4s linear;
}

.navigation-menu i {
  margin-right: 8px;
  font-size: 1px;
}

.navigation-menu a:hover {
  background-color: #ffffff;
  color: #2f3640;
  border: none;
  transform: scale(1.2);
} */


/* .home {
  color: #ff6b6b
}

.about {
  color: #0abde3;
}

.works {

  color: #feca57;
}

.team {
  color: #5f27cd;
}

.contact {
  color: #1dd1a1;
} */

/* .user {
  float: left;
  text-transform: uppercase;
  color: #ffffff;
} */

/* fas fa-home 
fas fa-align-left 
fab fa-buffer 
fas fa-users 
fas fa-headset  */
