<p>test-validation works!</p>
<form [formGroup]="myForm">

  <input formControlName="asin">
  <span *ngIf="asin.invalid && asin.touched">
    Your asin does not look right
  </span>


  <!-- <input formControlName="age">
  <span *ngIf="age.errors?.min && age.touched">
    {{ age.errors.min.actual }} is young to use this app kiddo!
  </span>
  <span *ngIf="age.errors?.max && age.touched">
    {{ age.errors.max.actual }} is too you old to use this app gramps!
  </span> -->

  <button [disabled]="myForm.invalid">Let's Do it!</button>

</form>
