<h1 mat-dialog-title>Return Listing to Work</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field class="variation-form">
      <mat-label>Original Asin</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="partnersListing.OriginalAsin" disabled>
    </mat-form-field>

    <mat-form-field class="variation-form">
      <mat-label>Original Title</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="partnersListing.OriginalName" disabled>
    </mat-form-field>

    <mat-form-field class="variation-form">
      <mat-label>Variation Asin</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="partnersListing.NewAsin" disabled>
    </mat-form-field>

    <mat-form-field class="variation-form">
      <mat-label> Variation Title</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="partnersListing.NewName" disabled>
    </mat-form-field>

    <mat-form-field class="variation-form">
      <mat-label> Variation Title</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="partnersListing.Problem" disabled>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" class="btn" (click)='returnListing()'>Return</button>
</div>
