<h1 mat-dialog-title>Return Listing to Work</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field class="variation-form">
      <mat-label>ASIN</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="partnersListing.OriginalAsin" disabled>
    </mat-form-field>

    <mat-form-field class="variation-form">
      <mat-label>Наименование</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="partnersListing.OriginalName" disabled>
    </mat-form-field>

    <mat-form-field class="variation-form">
      <mat-label>ASIN Вариации</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="partnersListing.NewAsin" disabled>
    </mat-form-field>

    <mat-form-field class="variation-form">
      <mat-label> Наименование Вариации </mat-label>
      <input matInput autocomplete="off" [(ngModel)]="partnersListing.NewName" disabled>
    </mat-form-field>

    <mat-form-field class="variation-form">
      <mat-label> Проблема</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="partnersListing.Problem" disabled>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" class="btn" (click)='returnListing()'>Вернуть</button>

</div>
<div mat-dialog-actions>
  <button mat-flat-button color="warn" class="btn" (click)='delListings()'>Удалить</button>
</div>
