<div class="page" *ngIf="auth.isLoggedIn()">
  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__group">
        <a class="menu__link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Add
        </a>
      </li>
      <li class="menu__group">
        <a class="menu__link" routerLink="/join-asin" routerLinkActive="active">Join Asin</a>
      </li>
      <li class="menu__group">
        <a class="menu__link" routerLink="/partnersTable" routerLinkActive="active">Partners table</a>
      </li>
      <li class="menu__group">
        <a class="menu__link" routerLink="/manager-table" routerLinkActive="active">Manager Partner</a>
      </li>
      <li class="menu__group">
        <a class="menu__link" routerLink="/brand-status" routerLinkActive="active">Brand</a>
      </li>
      <li class="menu__group">
        <a class="menu__link" routerLink="/1" routerLinkActive="active">Statistics</a>
      </li>
      <li class="menu__group">
        <a class="menu__link" *ngIf="!auth.isLoggedIn()" routerLink="/authorization">Authorization</a>
        <a class="menu__link" routerLink="" *ngIf="auth.isLoggedIn()" (click)="auth.logOut()">Logout</a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
