.example-container {
  margin-top: 40px;
  margin-left: 30px;
}

.add-brand-form {
  width: 340px;
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid #3D405C;
}


table {
  width: 450px;
  margin-top: 30px;
}

.table-wrapper {
  display: flex;
}

.bannedBrand {
  margin-left: 200px;
}

.banned-brand-row {
  color: red;
}

.table-head {
  text-align: center;
  font-weight: 700;
  color: #000000;
  font-size: 15px;
}

.mira {
  text-align: center;
  margin-top: 50px;
}

.router-btn {
  background-color: #3D405C;
  border-radius: 10px;
  color: #ffffff;
  padding: 15px 94px;
  margin-left: 50px;
  text-transform: uppercase;
  font-size: 14px;
}

a.active {
  color: #FFBB55;
}

.myForm {
  margin-top: 30px;
}

.add-brand-btn {
  padding: 0 50px;
}
