<form [formGroup]="myForm">
  <mat-card class="add-brand-form">
    <div class="example-container">
      <h2>Добавить Бренд </h2>
      <mat-form-field>
        <mat-label>Brand</mat-label>
        <input matInput placeholder="Command" autocomplete="off" formControlName="Brand">

      </mat-form-field>
      <br>
      <br>
      <button mat-raised-button color="primary" (click)='addBrand()' class="add-brand-btn">Добавить</button>
    </div>
  </mat-card>
</form>



<div class="mira">
  <a mat-tab-link routerLinkActive="active" routerLink="/brand-status/allowed" class="router-btn">
    Разрешенные
  </a>
  <a mat-tab-link routerLinkActive="active" routerLink="/brand-status/forbidden" class="router-btn">
    Запрещенные
  </a>

</div>
<router-outlet></router-outlet>
