<form [formGroup]="addAsinFrom" (ngSubmit)="addAsin()">
  <div class="container-contact2">
    <div class="wrap-contact2">
      <span class="contact2-form-title">
        Добавление товара
      </span>

      <mat-form-field class="example-full-width asin-input">
        <mat-label>ASIN</mat-label>
        <input matInput formControlName="ProductASIN" [ngClass]="{ 'is-invalid': submitted && f.ProductASIN.errors }"
          autocomplete="off">
      </mat-form-field>
      <div *ngIf="submitted && f.ProductASIN.errors" class="invalid-feedback">
        <mat-label *ngIf="f.ProductASIN.errors.required">Введите ASIN</mat-label>
      </div>


      <mat-form-field class="example-full-width">
        <mat-label>Наименование товара</mat-label>
        <input matInput autocomplete="off" formControlName="ProductName">
      </mat-form-field>
      <div *ngIf="submitted && f.ProductName.errors" class="invalid-feedback">
        <mat-label *ngIf="f.ProductName.errors.required">Введите Название товара</mat-label>
      </div>


      <mat-form-field class="example-full-width">
        <mat-label>Бренд</mat-label>
        <input matInput autocomplete="off" formControlName="Brand">
      </mat-form-field>
      <div *ngIf="submitted && f.Brand.errors" class="invalid-feedback-lst">
        <mat-label *ngIf="f.Brand.errors.required">Введите Бренд</mat-label>
      </div>


      <mat-checkbox color="primary" [(ngModel)]="partnerCheckBox" [ngModelOptions]="{standalone: true}"
        class="tetchbck">Добавить
        Партнера?
      </mat-checkbox>



      <mat-form-field class="example-full-width" *ngIf="partnerCheckBox">
        <mat-label>Партнер</mat-label>
        <mat-select formControlName="Partner">
          <mat-option *ngFor="let partners of partner" [value]="partners.value">
            {{partners.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <div *ngIf="submitted && f.Partner.errors" class="invalid-feedback">
        <mat-label *ngIf="f.Partner.errors.required">Введите Партнера</mat-label>
      </div> -->

      <div class=" container-contact2-form-btn">
        <div class="wrap-contact2-form-btn">
          <div class="contact2-form-bgbtn"></div>
          <button class="contact2-form-btn btn">
            Добавить
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
