<form [formGroup]="myForm">
  <div class="container-contact2">
    <div class="wrap-contact2">
      <span class="contact2-form-title">
        Добавление товара
      </span>



      <mat-form-field class="example-full-width asin-input">
        <mat-label *ngIf="asin.pristine && asin.untouched">ASIN</mat-label>
        <mat-label *ngIf="asin.invalid && asin.touched" class="">
          Your asin does not look right
        </mat-label>
        <input matInput placeholder="B012BKZC86" autocomplete="off" [(ngModel)]="user.ProductASIN"
          formControlName="ProductASIN">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label *ngIf="product.pristine && product.untouched">Product name</mat-label>
        <mat-label *ngIf="product.invalid && product.touched">
          Please enter product name
        </mat-label>
        <input matInput placeholder="SMITH & WESSON SWEX2S Extreme Ops. Knife with 40% Serrated Drop Point Blade"
          autocomplete="off" [(ngModel)]="user.ProductName" formControlName="ProductName">
      </mat-form-field>
      <div class="container-contact2-form-btn">
        <div class="wrap-contact2-form-btn">
          <div class="contact2-form-bgbtn"></div>
          <button class="contact2-form-btn btn" (click)="addAsin()" [disabled]="myForm.invalid">
            Добавить
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- <button mat-button (click)="openSnackBar()">SHOW</button> -->
