<h1 mat-dialog-title>Add variation Form </h1>
<div mat-dialog-content>
  <div>

    <mat-form-field class="variation-form">
      <mat-label>Original Asin</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="partnerListing.OriginalAsin">
    </mat-form-field>

    <mat-form-field class="variation-form">
      <mat-label>Original Title</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="partnerListing.OriginalName">
    </mat-form-field>

    <mat-form-field class="variation-form">
      <mat-label>Variation Asin</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="partnerListing.NewAsin">
    </mat-form-field>

    <mat-form-field class="variation-form">
      <mat-label> Variation Title</mat-label>
      <input matInput autocomplete="off" [(ngModel)]="partnerListing.NewName">
    </mat-form-field>


  </div>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" class="btn" (click)='addVariation()'>Send</button>
</div>
