.variation-form {
  display: block;
  width: 320px;

}

.btn-wrapper {
  /* margin: auto; */
}

.send-btn {
  padding: 10px 75px;
  text-align: center;
  margin-top: 30px;
  margin-left: 46px;
  /* первое значение верх низ второе лево право*/
}
