<h1 mat-dialog-title>Add variation Form </h1>
<div mat-dialog-content>
  <div>

    <mat-form-field class="variation-form">
      <mat-label>Original Asin</mat-label>
      <input matInput autocomplete="off" value="{{data.asin}}">
    </mat-form-field>

    <mat-form-field class="variation-form">
      <mat-label>Original Title</mat-label>
      <input matInput autocomplete="off" value="{{data.title}}">
    </mat-form-field>

    <mat-form-field class="variation-form">
      <mat-label>Variation Asin</mat-label>
      <input matInput autocomplete="off">
    </mat-form-field>

    <mat-form-field class="variation-form">
      <mat-label> Variation Title</mat-label>
      <input matInput autocomplete="off">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" class="btn">Primary</button>
</div>
