/* .authorization-block {
  width: 440px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  background-color: #191919;
  text-align: center;
}

.authorization-block p {
  color: white;
  text-transform: uppercase;
  margin-top: 120px;

  font-weight: 500;
}

.authorization-block input[type="text"],
.authorization-block input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  padding: 14px 40px;
  color: white;
  border-radius: 20px;
  transition: 0.25s;
}

.authorization-block input[type="text"]:focus,
.authorization-block input[type="password"]:focus {
  width: 280px;
}

.authorization-block input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.authorization-block [type="submit"]:hover {
  background: #2ecc71;
} */


.authorization-form {
  /* border: 1px red solid; */
  width: 450px;
  height: 330px;
  /* display: flex; */
  margin: 0 auto;
  margin-top: 120px;
}

.auth-title {
  font-size: 50px;
  text-align: center;
  margin-left: 21px;
  margin-bottom: 30px;
}

.auth-input {
  width: 100%;
  text-align: center;
}

.btn-wrap {
  align-items: center;
}

::-moz-placeholder {
  color: red;
}

.auth-button {
  display: block;
  /* padding: 19px 70px; */
  min-width: 244px;
  height: 50px;
  cursor: pointer;
  margin: 20px auto;
  background: rgb(107, 21, 219);
  /*только при display:block*/
  text-align: center;
  border: none;
  /* border-radius: 5px; */
  text-transform: uppercase;
  color: #fff;



}

button:hover {
  cursor: pointer;
}
