<div class="authorization-form">
  <p class="auth-title">Авторизация</p>

  <mat-form-field class=" auth-input">

    <input matInput placeholder="Логин" autocomplete="off" [(ngModel)]="credentials.email" autocomplete="off">
  </mat-form-field>
  <mat-form-field class="auth-input">
    <input matInput placeholder="Пароль" autocomplete="off" type="password" [(ngModel)]="credentials.password"
      autocomplete="off">
  </mat-form-field>

  <button class="auth-button" (click)='login()'>
    Войти
  </button>
</div>
