<mat-form-field>
  <mat-label>Поиск</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" autocomplete="off">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="OriginalAsin">
    <th mat-header-cell *matHeaderCellDef> ASIN </th>
    <td mat-cell *matCellDef="let managerListing">
      <a href="https://www.amazon.com/dp/{{managerListing.OriginalAsin}}" class="listing-link">
        {{managerListing.OriginalAsin}}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="OriginalName">
    <th mat-header-cell *matHeaderCellDef> Название </th>
    <td mat-cell *matCellDef="let managerListing"> {{managerListing.OriginalName}} </td>
  </ng-container>
  <ng-container matColumnDef="NewAsin">
    <th mat-header-cell *matHeaderCellDef> ASIN Вариации </th>
    <td mat-cell *matCellDef="let managerListing">
      {{managerListing.NewAsin}}
    </td>
  </ng-container>

  <ng-container matColumnDef="NewName">
    <th mat-header-cell *matHeaderCellDef> Название Вариации </th>
    <td mat-cell *matCellDef="let managerListing"> {{managerListing.NewName}} </td>
  </ng-container>

  <ng-container matColumnDef="Partner">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let managerListing"></td>
  </ng-container>

  <ng-container matColumnDef="Problem">
    <th mat-header-cell *matHeaderCellDef> Проблема </th>
    <td mat-cell *matCellDef="let managerListing">{{managerListing.Problem}}</td>
  </ng-container>


  <ng-container matColumnDef="returnListing">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let listing">
      <button mat-flat-button color="primary" class="btn-prob" (click)="openReturnModal()">Вернуть</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
</table>
